<h1> Search Result Page </h1> 
  <div class="result"> 
    <div class="inner-result">
      <h2>Book Title: <%= @tempbook.title %> </h2>
      <h2>Book Author: <%= @tempbook.author %> </h2>
    </div>
  </div>